figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    text-align: center;
}
button {
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #fbfbfb; 
    border-radius: 5px; 
    outline: none;
    box-shadow: 0 0 5px #000; 
    transition: border-color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.369);
    
}
.details-bar{
    margin: 20px;
}
figure img{
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    padding: 0.3rem;
    
}
@media (max-width: 700px){
    figure img{
        width: 80vw;
    }
}
.window-pane {
    text-align: center;
    margin: 0 auto;
    max-width: 800px
    
}
