figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    text-align: center;
}
figure img{
    width: 26rem;
    height: 26rem;
    object-fit: cover;
    padding: 0.3rem;
    
}
@media (max-widht: 700px){
    figure img{
        width: 80vw;
    }
}
