.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
body {
  background-image: url("assets/constellations.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
h3,
p,
a {
  color: #000;
}
.details-bar {
  color: #000;
}
.window-pane {
  color: #000;
}
.standard-dialog.center a {
  color: black;
}
.litle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.litle .logo {
  height: 5em;
  margin-left: 0.5rem;
}

.figure-image {
  max-width: 50%;
  height: auto;
}

.logo {
  height: 2em;
  margin-right: 0.5rem;
}

#photo-date {
  padding: 10px; 
  font-size: 16px; 
  border: 2px solid #000; 
  border-radius: 5px; 
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  transition: border-color 0.3s ease; 
  background-color: transparent;
}

/* Cambiar el color del borde al enfocar el input */
#photo-date:focus {
  border-color: #61dafb;
}

